<div class="container">
    <h5 class="text-center text-uppercase font-weight-bold mb-3">Reset Password</h5>
    <div class="form-login pl-4 pr-4 pt-3 pb-4">
        <form id="resetForm" action="/api/password/reset?token=<%= token  %>" method="post" autocomplete="off">
            <div class="mb-3">
                <label class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" name="password" required />
            </div>
            <div class="mb-3">
                <label class="form-label"> Confirm Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" name="confirmPassword" required />
            </div>
            <div class="d-grid gap-2 pt-2">
                <button id="btnLogin" type="submit"
                    class="btn btn-danger text-uppercase btn-block font-weight-bold">Reset Password</button>
            </div>
        </form>
    </div>
</div>
<%- contentFor('pageTitle') %>
    Reset Password