<div class="d-flex flex-column flex-root">
    <div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
        style="background-image: url(assets/media/error/bg5.jpg);">
        <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
            <h1 class="error-title font-weight-boldest text-info mt-10 mt-md-0 mb-12">
                <%= code %>
            </h1>
            <p class="font-weight-boldest display-4">
                <%= title %>
            </p>
            <p class="font-size-h3">
                <%= message %>
            </p>
        </div>
    </div>
</div>