<!-- Header -->
<header>
  <div id="header">
    <header class="navbar navbar-expand-md fixed-top justify-content-end">
      <div class="text-header">
        <div>
          <%= session.user.name %> <span> <a href="/logout" class="ml-5 mr-15">Logout</a></span>
        </div>
      </div>
    </header>
  </div>
</header>